
#studentNamesL {
    position: absolute;
    top: 110px;
    left:525px;
}

#additionL {
    position: absolute;
    top: 130px;
    left:140px;
}

#addClearSubmit {
    position: absolute;
    top: 150px;
    left:260px;
    font-size: medium
}


#addNumber1Box {
    position: absolute;
    top: 200px;
    left:150px;
    font-size: x-large
}

#additionSignL {
    position: absolute;
    top: 162px;
    left:240px;
    font-size: xx-large
}

#addNumber2Box {
    position: absolute;
    top: 200px;
    left:272px;
    font-size: x-large
}


#addEqualSignL {
    position: absolute;
    top: 162px;
    left:370px;
    font-size: xx-large
}


#addtSudentResultBox {
    position: absolute;
    top: 200px;
    left:414px;
    font-size: x-large
}


#addSubmit {
    position: absolute;
    top: 200px;
    left:580px;
    font-size: large
}


#addtCalculatorResultBox {
    position: absolute;
    top: 200px;
    left:695px;
    font-size: x-large
}


#addEvaluationBox {
    position: absolute;
    top: 200px;
    left:790px;
    font-size: x-large
}



